/* 
    Document   : index
    Created on : Jul 9, 2013, 4:13:40 PM
    Author     : Michelle
    Description:
        Purpose of the stylesheet follows.
*/

.pageContainer{
    width: 90%;
    margin-left: 5%;
}
h1,h2,h3,strong, p{
    text-align: center;
}
#ft{
    margin-top: 8%;
    font-size: 13px;
}

.content{
    width: 80%;
    margin-left: 10%;
}

#contentAudio{
    margin-top: 10%;
    width: 70%;
    margin-left: 15%;
}

audio{
    display: table; 
    margin: 6% auto!important; 

}

.indent{
    width: 90%;
    margin-left: 10%;
}

.add_input_obj_param{
    margin-left: 80%;
    float: right;
}

#toTop {
            bottom:10px; /* together with this to put the div at the bottom*/

	
}

#add_op {
        top:10px; /* together with this to put the div at the bottom*/
        
}

.indent_1{
    padding-left:5%;
}

.indent_2{
    margin-left:5%;
}

.float{
    width:100px;
        border:1px solid #ccc;
        background:#f7f7f7;
        text-align:center;
        padding:5px;
        position:fixed; /* this is the magic */
        right:10px;
        cursor:pointer;
        display:none;
        color:#333;
        font-family:verdana;
        font-size:11px; 
}

#add_input_param{
    top: 50px;
}


